<div class="container">
  <div class="row">
    <h3 class="p-3"><span class="header">注文情報確認</span></h3>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="customer_order_confirm_table">
        <thead class="table-active">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="align-middle" style="width: 40%"><%= attachment_image_tag cart_item.item, :image, format:'jpg', size:'70x50' %><span class="ml-4"><%= cart_item.item.name %></span></td>
            <td class="align-middle" style="width: 20%"><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></td>
            <td class="align-middle" style="width: 20%"><%= cart_item.quantity %></td>
            <td class="align-middle" style="width: 20%"><%= cart_item.subtotal.to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3 offset-1">
      <table class="customer_order_confirm_payment_table">
        <tr>
          <td class="table-active" style="width: 50%">送料</td>
          <td style="width: 50%"><%= @postage %></td>
        </tr>
        <tr>
          <td class="table-active" style="width: 50%">商品合計</td>
          <td style="width: 50%"><%= @total.to_s(:delimited, delimiter: ',') %></td>
        </tr>
        <tr>
          <td class="table-active" style="width: 50%">請求額</td>
          <td style="width: 50%"><%= @total_price.to_s(:delimited, delimiter: ',') %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-4">
    <div class="ml-3"><h5 class="font-weight-bold">支払方法</h5></div>
    <div class="col-3"><%= @order.payment_method_i18n %></div>
  </div>
  <div class="row mt-4">
    <div class="ml-3"><h5 class="font-weight-bold">お届け先</h5></div>
    <div class="col-7">
      〒<%= @order.postal_code %><%= @order.address %><br>
      <%= @order.name %>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <%= form_with model: @order,url: orders_back_path,method: :post, local:true do |f| %>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :total_price, value: @total_price %>
      <%= f.hidden_field :postage, value: @postage %>
      <%= f.hidden_field :select_address, value: params[:order][:select_address] %>
      <div class="col-2">
        <%= f.submit "入力画面に戻る" ,class:"btn btn-primary btn-lg" %>
      </div>
      <% end %>
    <%= form_with model: @order,url: orders_path,method: :post, local:true do |f| %>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :total_price, value: @total_price %>
      <%= f.hidden_field :postage, value: @postage %>
      <%= f.hidden_field :select_address, value: params[:order][:select_address] %>
      <div class="col-2">
        <%= f.submit "注文を確定する" ,class:"btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>