<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <div class="col-2">
      <%= link_to root_path, class: "navbar-brand" do %>
        <h2 style="font-family:Nikukyu">ながのケーキ<i class="fas fa-birthday-cake"></i></h2>
      <% end %>
    </div>
    <div class="col-10">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="mx-5 mt-5">ようこそ、<%= current_customer.family_name %>さん！</li>
            <li>
              <%= link_to "マイページ", customers_my_page_path,class: "btn btn-outline-secondary nav-link mx-2 text-dark"  %>
            </li>
            <li>
              <%= link_to "商品一覧", items_path,class: "btn btn-outline-secondary nav-link mx-2 text-dark"  %>
            </li>
            <li>
              <%= link_to "カート", cart_items_path,class: "btn btn-outline-secondary nav-link mx-2 text-dark"  %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary nav-link mx-2 text-dark" %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to "商品一覧", admin_items_path,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %>
            </li>
            <li>
              <%= link_to "会員一覧", admin_customers_path,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %>
            </li>
            <li>
              <%= link_to "注文履歴一覧", admin_orders_path,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %>
            </li>
            <li>
              <%= link_to "ジャンル一覧", admin_genres_path,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "text-dark btn btn-outline-secondary mx-2 nav-link" %>
            </li>
          <% else %>
            <li>
              <%= link_to " About ", homes_about_path,class: "text-dark btn btn-outline-secondary nav-link mx-2" %>
            </li>
            <li>
              <%= link_to "商品一覧", items_path,class: "text-dark btn btn-outline-secondary nav-link mx-2" %>
            </li>
            <li>
              <%= link_to "新規登録", new_customer_registration_path,class: "text-dark btn btn-outline-secondary nav-link mx-2" %>
            </li>
            <li>
              <%= link_to "ログイン", new_customer_session_path,class: "text-dark btn btn-outline-secondary nav-link mx-2" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="text-right my-2">
        <%= search_form_for @q, url: search_items_path do |f|%>
          <%= f.search_field :name_cont %>
          <%= f.submit "検索"%>
        <% end %>
      </div>
    </div>
  </div>
</nav>